@using TaskLog2ndGen.Models
@model IEnumerable<TaskLog2ndGen.Models.Team>
@{
    Account account = Session["account"] as Account;
}

<h2>List of Teams</h2>

<p>
    @if (account.roleCode == "Admin")
    {
        @Html.ActionLink("Create Team", "Create", null, new { @class = "btn btn-secondary" })
    }
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@("/Teams/Details/" + item.teamId)>@Html.DisplayFor(modelItem => item.name)</a>
                </td>
            </tr>
        }
    </tbody>
</table>